.Main {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
}

.Contents{
    margin-left: 1rem;
}

.Contents > h4 {
  margin-top: 0.1rem;
  color: #536471;
  font-size: 0.9rem;
  font-weight: 450;
}

.Contents > span {
    margin-top: 0.1rem;
    color: #536471;
    font-size: 0.9rem;
    font-weight: 500;
}

.butt1>Button{
    font-weight: bolder;
}

.butt1 span{
  font-size: xx-large;
  color: red;
}