.Upper{
    /* border: 1px solid red; */
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.Upper > button{
    color: #f0f6fc;
    background-color: inherit;
    font-size: xx-large;
    text-decoration: solid;
    border: 0px transparent;
}