
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


.posts {
    width: 50%;
    margin-left: 25%;
    border-right: 1px solid #e6ecf0;
  }
  .posts__home {
    width: 50%;
    position: fixed;
    top: 0;
    padding: 15px;
    font-weight: 700;
    border-bottom: 1px solid #e6ecf0;
    font-size: 18px;
    background: #fff;
    border-right: 1px solid #e6ecf0;
  }