* .CardFlex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 200px;
    color: blue;
    background-color: aqua;
  }
  
  .CardParent {
    border: 1px solid;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 3px black;
    background-color: lightcyan;
  }
  
  .CardParent > img {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    color: coral; 
    background-color: darkblue; 
  } 
 
  .ComponentCard {
    width: 2000px;
    position: relative;
    overflow-x:scroll;
    height: 600px;
    margin: 50px;
   
    
  } 
  
  .Static {
    position: fixed;
    color: aqua;
    background-color: blue; 
color: firebrick; 
   }