.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    font-size: 30px;
    color: green;

}

table td {
	border: 3px solid black;
	width: 100px;
	height: 100px;
    background-color: white;
    color: green;
}