.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 10px;
  }
  
  .search-results {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .search-results li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .search-results li h3 {
    margin-top: 0;
  }
  
  .search-results li p {
    margin-bottom: 0;
  }
  
  .search-results li button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 10px;
  }
  .search-results li button:hover{
    cursor: pointer;
  }
  .favorites {
    list-style: none;
    margin: 0;
    
  }  