
.RightMain {
  /* border: 1px solid; */
  width: 21.875rem;
  background-color: whitesmoke;
  position: relative;
  left: 12%;
  border-radius: 3%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.RightMain>div>h3 {
  position: relative;
  left: 1rem;
}

.RightMain > button {
  width: fit-content;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
  color: #93C5FD;
  position: relative;
  left: 1.1rem;
}

.container {
  display: flex;

}
.leftDiv{
    position: relative;
    left: 20%;
}
.centerDiv{
    position: relative;
    left: 10%;
    border: 1px darkgray;
}

.Content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}