.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 40%;
    min-height: 40rem;
    position: relative;
    top: 5rem;
    left: 30%;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading :nth-child(1){
    height: 2rem;
    width: 2rem;
    /* color: rgb(95, 141, 229); */
    color: #00acee;
}


.apple{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 80%;
}

.apple > Button {
    border-radius: 3rem;
    color: black;
    font-weight: bold;
    /* background-color: black; */
}
.apple :nth-child(1){
    font-weight: unset;
}

.sectionDivider{
display: flex;
gap: 10px;

}
.sectionDivider :nth-child(odd)  {
    width: 10rem;
    position: relative;
    top: 0.15rem;
    
}

.login{

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
 .login > Button {
    border-radius: 3rem;

 }


 .switch{

 }

 .switch :nth-child(2) {
    color: blue;
    cursor: pointer;

 }
