.page{
    width: 100%;
    /* border: 1px solid red; */
}
.page >img{
    width: 95%;
    position: relative;
    
}
.page >h2{
    position: absolute;
    top: 150px;
    margin-left: 50px;
    width: 350px;
    /* border: 1px solid red; */
}



@media (max-width: 400px) {
    .page{
        width:106vw;
        /* border: 1px solid red; */
    }
    .page >img{
        width: 100%;
        position: relative;
        
        
    }

    .page >h2{
        position: absolute;
        top: 100px;
        margin-left: 50px;
        width: 150px;
        /* border: 1px solid red; */
    }

    
    
  }