.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
   box-sizing: border-box;
    width:37.5rem;
    min-height: 40rem;
    position: relative;
    top: 4rem;
    left: 30%;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 6rem;
}
.heading :nth-child(1){
    height: 2rem;
    width: 2rem;
    /* color: rgb(95, 141, 229); */
    color: #00acee;
}

.heading >h1{
    font-family: inherit;
}

.apple{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:20px;
    width: 80%;
}
.apple > Button {
    border-radius: 3rem;
    color: black;
    font-weight: bold;
    /* background-color: black; */
    width: 18.75rem;
}
.apple :nth-child(1){
    font-weight: unset;
}

.sectionDivider{
display: flex;
gap: 10px;

}
.sectionDivider :nth-child(odd)  {
    width: 8rem;
    position: relative;
    top: 0.15rem;
    
}
.createAccount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-family: TwitterChirp",-apple-system,BlinkMacSystemFont,Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    width: 18.75rem;
    font-weight: 400;
}

.Register{

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
 .Register > Button {
    margin-top: 2rem;
    border-radius: 3rem;

 }

 .Calender{
    /* border: 1px solid; */
    height: 3.437rem;
    display: flex;
    gap: 10px;
 }

 .Calender > select{
    width: 27%;
    height: 100%;
 }

 .Calender :nth-child(1){
    width: 50%;
 }

 .switch :nth-child(2) {
    color: blue;
    cursor: pointer;

 }
 
 .Inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }

 .Inside > Button{
    border-radius: 3rem;
    font-weight: bold;
    background-color: black;
    width: 80%;
 }

 .Create{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

 }

 .Create>Button{
    border-radius: 3rem;
    font-weight: bold;
    background-color: black;
    width: 18.75rem;
 }