.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

input {
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  /* padding: 0.5rem; */
  margin-bottom: 2rem;
  /* text-align: right; */
  background-color: #f5f5f5;
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.2rem #bbb;
}
label{
  width: 100%;
  max-width: 400px;
}
.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0.1rem 0.3rem #aaa;
  cursor: pointer;
  
}
