.card-container{
    height: 250px;
    width: 250px;
    border-radius: 18px;
    text-align: left;
    margin-left: 5px;
    padding-left: 38px;
    background-color:#8e44ad;
    transform: translate(600px,20%);
    color: white;
    font-weight: bold;
    box-shadow: rgba(0,0,0,0.1);
    column-gap: normal;
    padding-top: 18px;
}
p{
    font-size: 12px;
    justify-self: baseline;
}
img{
    border-radius: 45px;
    border: 3px solid white;
}
.App{
    background-color:#e056fd;
    height: 1000%;
    width: 200%;
}